*{
    margin: 0;
    padding: 0;
}

.upi{
    width: 13%;
    aspect-ratio: 4/2;
    background-color:rgba(0, 0, 0, 0.4);
    color: white;
    border: rgb(71, 71, 71) 1px solid;
    display: flex;
    align-content: center;
    justify-content: space-around;
    backdrop-filter: blur(8px);
    padding: 1vw;
    gap: 1vw;
    position:fixed;
    bottom: 8%;
    right: 5%;
    z-index: 1;
}
.upi img{
    width: 40%;
}
.upi p{
    margin-top: 5%;
    font-size: 1vw;
}

#banner .banner{
    width: 100%;
    aspect-ratio: 3.9/2;
    overflow-y:hidden;
    position: relative;
}

#banner video{
    object-fit:cover;
    object-fit: fill;
    width: 100%;
    z-index: -1;
}
#banner .logo{
    width: 4%;
    position: absolute;
    left: 7%;
    top: 6%;
}
#banner .navbar{
    color: white;
    position: absolute;
    top: 6%;
    right: 7%;
    border: 1px solid rgb(87, 87, 87);
    display: flex;
    justify-content: space-around;
    padding: 0;
}
#banner .div1{
    display: flex;
    justify-content: space-around;
    padding: 0;
    cursor: pointer;
}
#banner .span1{
    font-size: .5vw;
    font-family: "Lexend Peta", sans-serif;
    margin-right: 2vw;
}
#banner .span2{
    margin-right: 2vw;
    font-size: 1.4vw;
    font-weight:600;
}

#banner .button1{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(87, 87, 87);
    padding: 1.3vw;
}
#banner .button2{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(87, 87, 87);
    padding: 1.3vw;
    position: absolute;
    top: 6%;
    right: 7.7%;
}
#banner .offcanvas1{
    background-color: black;
    height: 1000px;
}
#banner .offcanvas2{
    background-color: black;
}
#banner .button3{
    font-family: "Lexend Peta", sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    padding: 1.3vw;
    font-size:0vw;
    opacity: 0;
    transition: font-size .6s,opacity 0.6s;
    transition-delay: opacity 0.6s;
}

#banner .div1:hover .button3{
    font-size: .7vw;
    opacity: 1;
}
#banner .label1{
    cursor: pointer;
}
#banner .heading{
    color: white;
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
}
#banner .heading1{
    font-size: 5vw;
    padding: 0;
    font-family: "Domine", serif;
    font-weight: bolder;
}
#banner .heading2{
    font-size: 1.2vw;
}